@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Snippet pour les préfixes de box-sizing*/
* {
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: large;
}

.navigation-a {
    padding: 5%;
    color: black;
    text-decoration: none;
}

.description {
    opacity: 0.5;
}

.section2-1-desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.section2-1-mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.section2-element {
    margin: 5px;
    border: solid;
    border-width: 2px;
    border-color: #F2F2F2;
    border-radius: 100px;
}

.section2-element:hover {
    background-color: #F2F2F2;
}

.section2-content {
    margin-left: 10px;
    margin-right: 12px;
    font-weight: bold;
}

.fa-money-bill-wave {
    color: #0065FC;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    background-color: #DEEBFF;
}

.fa-universal-access {
    color: #0065FC;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    background-color: #DEEBFF;
}

.fa-heart {
    color: #0065FC;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    background-color: #DEEBFF;
}

.fa-dog {
    color: #0065FC;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    background-color: #DEEBFF;
}

.fa-info {
    color: #0065FC;
    margin-right: 10px;
    border: solid 3px;
    border-color: #F2F2F2;
    padding: 11px;
    border-radius: 1000px;
}

.partie3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sous-section3-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    margin: 10px;
    height: auto;
}


.sous-section4-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 370px;
    padding: 0%;
    margin: 10px;
}

.section3-1-element {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 3px;
    border: none;
    border-color: white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #999;
}
.section3-1-element-contenu {
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.section3-img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    margin: 0.1px;
    margin-bottom: 3%;
}
.section3-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.section4-img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    margin: 0.1px;
    margin-right: 2%;
}


.section4-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section3-1-element:hover, .section4-1-element:hover {
    box-shadow: 0px 5px 20px #999;
}

.section4-1-1-element {
    display: flex;
    flex-direction: column;
    width: 66%;
    justify-content: space-between;
    margin: 2%;
}

.section4-1-1-element-contenu {
    display: flex;
    flex-direction: column;
}

.sous-section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.star-a {
    color: #0065FC;
}

.star-b {
    color: gray;
}

.partie4 {
    display: flex;
    flex-direction: column;
}

.session5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.session5-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 23%;
    height: 400px;
    box-shadow: 0px 5px 10px #999;
    background-color: #999;
}

.session5-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}
.session5-2-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 230px;
    box-shadow: 0px 5px 10px #999;
    background-color: #DEEBFF;
}
.session5-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 150px;
    box-shadow: 0px 5px 10px #999;
    background-color: rgb(250, 139, 185);
}

.session5-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 23%;
    height: 400px;
    box-shadow: 0px 5px 10px #999;
    background-color: #3b6ab1;
}

.session5-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}
.session5-4-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 190px;
    box-shadow: 0px 5px 10px #999;
    background-color: #295f3e;
}
.session5-4-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 190px;
    box-shadow: 0px 5px 10px #999;
    background-color: rgb(124, 64, 64);
}
.session5-1-content, .session5-2-content, .session5-3-content, .session5-4-content {
    background-color: white;
    height: 40px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: small;
}
.session5-1:hover, .session5-2-1:hover, .session5-2-2:hover, .session5-3:hover, .session5-4-1:hover, .session5-4-2:hover {
    box-shadow: 0px 5px 20px #999;
}
.session5-1 img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-2-1 img {
    width: 100%;
    height: 82%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-2-2 img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-3 img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-4-1 img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-4-2 img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    }
.session5-1:hover img, .session5-2-1:hover img, .session5-2-2:hover img, .session5-3:hover img, .session5-4-1:hover img, .session5-4-2:hover img  {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.01); /* Safari et Chrome */
    -moz-transform:scale(1.01); /* Firefox */
    -ms-transform:scale(1.01); /* Internet Explorer 9 */
    -o-transform:scale(1.01); /* Opera */
    transform:scale(1.01);
    }
.footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer-section1 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.footer-section1 span, .footer-section2 span, .footer-section3 span {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
.footer-section1 a, .footer-section2 a, .footer-section3 a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    padding-top: 10px;
}
.footer-section2 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.footer-section3 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
    
@media screen and (min-width: 992px)
{
    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 100px;
    }
    .navigation-a:hover {
        border-top: solid #0065FC;
        color: #0065FC;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    .section1, .section2, .partie3, .partie4 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav {
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    form {
        width: 400px;
        display: flex;
        flex-direction: row;
    }
    .logo_small {
        display: none;
    }
    input {
        height: 40px;
        margin-left: 0%;
        margin-right: 0%;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top-color: #F2F2F2;
        border-bottom-color: #F2F2F2;
    }
    .fa-location-dot {
        float: left;
        background-color: #F2F2F2;
        padding: 12px;
        border-top-left-radius: 10px;
        border-end-start-radius: 10px;
    }
    .rechercher_boutton_full {
        background-color: #0065FC;
        color: white;
        height: 40px;
        border-end-end-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        float: right;
    }
    .rechercher_boutton_small {
        display: none;
    }
    .section2-1-mobile, .filtre {
        display: none;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;
        max-width: 845px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 10px;
    }
    .section4 {
        display: flex;
        flex-direction: column;
        width: 30%;
        max-width: 340px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 10px;
    }
    .section4-1-element {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        max-width: 279px;
        height: 100px;
        padding: 3px;
        border: none;
        border-color: white;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 10px #999;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px)
{
        
    body {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
    img {
        width: 100px;
    }
    .navigation-a:hover {
        border-top: solid #0065FC;
        color: #0065FC;
    }
    header {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section1, .section2, .section3, .section4, .partie4 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    form {
        width: 400px;
        display: flex;
        flex-direction: row;
    }
    .logo_small {
        display: none;
    }
    input {
        height: 40px;
        margin-left: 0%;
        margin-right: 0%;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-color: #F2F2F2;
    }
    .fa-location-dot {
        float: left;
        background-color: #F2F2F2;
        padding: 12px;
        border-top-left-radius: 10px;
        border-end-start-radius: 10px;
    }
    .rechercher_boutton_full {
        background-color: #0065FC;
        color: white;
        height: 40px;
        border-end-end-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        margin-left: 0%;
        float: right;
    }
    .rechercher_boutton_small {
        display: none;
    }
    .partie3 {
        flex-direction: column-reverse;
    }
    
    .section2-1-mobile, .filtre {
        display: none;
    }
    .section4 {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        width: 90%;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 10px;
    }
    .sous-section4-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100px;
        padding: 0%;
        margin: 10px;
    }
    .section3-1-element {
        font-size: small;
    }
    .section4-1-element {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        max-width: 200px;
        height: 100px;
        padding: 3px;
        border: none;
        border-color: white;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 10px #999;
        font-size: small;
    }
    .session5 {
        flex-wrap: wrap;
    }
    .session5-1  {
        width: 40%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-1 img  {
        width: 100%;
        height: 75%;
    }
    .session5-1-content {
        font-size: small;
    }
    .session5-2 {
        flex-direction: row;
        width: 58%;
    }
    .session5-2-content {
        font-size: small;
    }
    .session5-2-1 {
        width: 48%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-2-1 img  {
        width: 100%;
        height: 74%;
    }
    .session5-2-2 {
        width: 48%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-3 {
        width: 29%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-3 img  {
        width: 100%;
        height: 73%;
    }
    .session5-3-content {
        font-size: small;
    }
    .session5-4 {
        flex-direction: row;
        width: 69%;
    }
    .session5-4-content {
        font-size: small;
    }
    .session5-4-1 {
        width: 48%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-4-1 img  {
        width: 100%;
        height: 73%;
    }
    .session5-4-2 {
        width: 48%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .session5-4-2 img  {
        width: 100%;
        height: 73%;
    }
    

}

@media screen and (max-width: 767px)
{
    
    body {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
    img {
        width: 100px;
        align-self: center;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav {
        width: auto;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navigation-a {
        width: 50%;
        text-align: center;
    }
    .navigation-a:hover {
        border-bottom: solid #0065FC;
        color: #0065FC;
    }
    .section1, .section2, .partie4 {
        margin-left: 5%;
        margin-right: 5%;
    }
    form {
        width: auto;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .logo_full {
        display: none;
    }
    input {
        z-index: 0;
        position: relative;
        height: 40px;
        width: 100%;
        max-width: 183px;
        margin-left: 0%;
        margin-right: 0%;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-color: #F2F2F2;
    }
    .fa-location-dot {
        z-index: 10;
        position: relative;
        float: left;
        background-color: #F2F2F2;
        padding: 12px;
        border-top-left-radius: 10px;
        border-end-start-radius: 10px;
    }
    .rechercher_bar {
        display: flex;
        justify-content: flex-start;
        width: auto;
        height: 40px;
    }
    .rechercher_boutton_small {
        z-index: 1;
        background-color: #0065FC;
        color: white;
        height: 40px;
        width: 40px;
        border-end-end-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: none;
        position: relative;
        margin-left: auto;
        
        float: right;
    }
    .rechercher_boutton_full {
        display: none;
    }
    .partie3 {
        flex-direction: column-reverse;
    }
    
    .section2-1-desktop {
        display: none;
    }
    .filtre {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 845px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        border-radius: 0px;
        background-color: white;
    }
    .sous-section3-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section3-1-element {
        width: 100%;
        max-width: 330px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section3-1-element-contenu {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        font-size: small;
    }
    .section3-img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        margin: 0.1px;
        margin-bottom: 3%;
    }

    .section4 {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        border-radius: 0px;
        max-width: 100%;
        
    }
    .section4-1-element {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px;
        border: none;
        border-color: white;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 10px #999;
        font-size: small;
    }
    .session5 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .session5-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: #999;
    }
    .session5-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .session5-2-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: #DEEBFF;
    }
    .session5-2-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: rgb(250, 139, 185);
    }
    
    .session5-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: #3b6ab1;
    }
    
    .session5-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .session5-4-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: #295f3e;
    }
    .session5-4-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        max-width: 330px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #999;
        background-color: rgb(124, 64, 64);
    }
    .session5-1 img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .session5-2-1 img {
        width: 100%;
        height: 73%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .session5-2-2 img {
        width: 100%;
        height: 70%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .session5-3 img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .session5-4-1 img {
        width: 100%;
        height: 73%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        }
    .session5-4-2 img {
        width: 100%;
        height: 73%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    .footer-section1 {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 100%;
    }
    .footer-section1 span, .footer-section2 span, .footer-section3 span {
        text-decoration: none;
        color: black;
        padding-bottom: 10px;
    }
    .footer-section1 a, .footer-section2 a, .footer-section3 a {
        text-decoration: none;
        color: black;
        opacity: 0.5;
        padding-top: 10px;
    }
    .footer-section2 {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 100%;
    }
    .footer-section3 {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 100%;
    }

}
